# Lesson 3 Practice: Pandas Part 1

Use this notebook to follow along with the lesson in the corresponding lesson notebook: [L03-Pandas_Part1-Lesson.ipynb](./L03-Pandas_Part1-Lesson.ipynb).

## Instructions
Follow along with the teaching material in the lesson. Throughout the tutorial sections labeled as "Tasks" are interspersed and indicated with the icon: ![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/16/Apps-gnome-info-icon.png). You should follow the instructions provided in these sections by performing them in the practice notebook.  When the tutorial is completed you can turn in the final practice notebook. For each task, use the cell below it to write and test your code.  You may add additional cells for any task as needed or desired.

## Task 1a: Setup

+ `numpy` as `np`
+ `pandas` as `pd`

In [1]:
import pandas as pd
import numpy as np

## Task 2a Create a `pd.Series` object

+ Create a series of your own design.

In [3]:
my_series = pd.Series([30, 27, 24, 22])

## Task 2b: Creating a DataFrame

+ Create a pd.DataFrame object from a Python dictionary. Design the data as you like.

In [8]:
my_df1 = pd.DataFrame(np.random.rand(5,5).round(2))
my_df1

      0     1     2     3     4
0  0.97  0.19  0.60  0.53  0.45
1  0.16  0.86  0.10  0.12  0.88
2  0.49  0.23  0.99  0.01  0.38
3  0.60  0.63  0.94  0.85  0.28
4  0.85  0.44  0.68  0.71  0.23

## Task 2c: Create DataFrame with labels

+ Create a 10x5 dataframe of random numeric integers that follow a [Guassian (normal) Distribution](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.normal.html). 
  + Center the distrubtion at 0.85.
  + We will use these values as assumed grades for a class of students
+ Adjust the row indexes to be the names of hypothetical students.
+ Adjust the columsn to be the names of hypothetical projects, homework, exam names, etc.

In [26]:
my_df2 = pd.DataFrame(np.random.normal(0.85, size = (10, 5)).round(2), 
                     columns = ('P1', 'P2', 'P3', 'P4', 'P5'),
                     index = ('Abu', 'Baba', 'Carlos', 'Dan', 'Emma', 'Frank', 'George', 'Hans', 'IceT', 'Judas'))
my_df2

          P1    P2    P3    P4    P5
Abu     0.14  2.13 -1.48  0.20  0.16
Baba    2.36  1.51  0.80 -0.74  1.75
Carlos -0.22  1.74 -0.84 -0.47  0.69
Dan    -1.20  0.88  1.97 -0.09  1.18
Emma    0.03  2.61  1.07  2.88  1.05
Frank   0.28  1.14  1.18  0.86 -0.19
George  0.46  0.55  1.78  0.87 -0.14
Hans    0.11  1.44  1.36 -0.37  1.73
IceT   -0.06  1.15  1.27  1.12  1.51
Judas  -0.23  2.11  0.53  1.62  0.59

## Task 3a: Import the iris.csv file

+ Import the iris dataset.
+ Take a look at the `pd.read_csv` online documentation. Write example code in a Markup cell for how you would import this file if it were tab-delimited.

In [28]:
iris_data = pd.read_csv('data/iris.csv')

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

## Task 4a: Explore Data

 + Use `head`, `tail` and `sample` with the iris dataset.
 + Do the same with the dataset you created in task 2c.

In [39]:
# exploring iris data
print(iris_data.head())
print(iris_data.tail())
print(iris_data.describe())

#exploring my_df2
print(my_df2.head())
print(my_df2.tail())
print(my_df2.describe())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica
       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000
          P1    P2    P3    P4    P5
Abu     0.14  2.13 -1.48  0.20  0.16
Baba    2.36  1.51  0.80 -0.74  1.75
Carlos -0.22  1.74 -0.84 -0.47  0.69
Dan    -1.20  0.88  1.97 -0.09  1.18
Emma    0.03  2.61  1.07  2.88  1.05
          P1    P2    P3    P4    P5
Frank   0.28  1.14  1.18  0.86 -0.19
George  0.46  0.55  1.78  0.87 -0.14
Hans    0.11  1.44  1.36 -0.37  1.73
IceT   -0.06  1.15  1.27  1.12  1.51
Judas  -0.23  2.11  0.53  1.62  0.59
              P1         P2       P3        P4         P5
count  10.000000  10.000000  10.0000  10.00000  10.000000
mean    0.167000   1.526000   0.7640   0.58800   0.833000
std     0.891828   0.631985   1.1070   1.11384   0.730069
min    -1.200000   0.550000  -1.4800  -0.74000  -0.190000
25%    -0.180000   1.142500   0.5975  -0.30000   0.267500
50%     0.070000   1.475000   1.1250   0.53000   0.870000
75%     0.245000   2.017500   1.3375   1.05750   1.427500
max     2.360000   2.610000   1.9700   2.88000   1.750000

## Task 5a: Viewing columns and rows

+ Display the columns and indexes of the iris dataset.
+ Do the same with the dataset you created in Task 2c.

In [42]:
# viewing columns and rows of iris data
print(iris_data.columns)
print(iris_data.index)

# view columns and rows of my_df2
print(my_df2.columns)
print(my_df2.index)

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')
RangeIndex(start=0, stop=150, step=1)
Index(['P1', 'P2', 'P3', 'P4', 'P5'], dtype='object')
Index(['Abu', 'Baba', 'Carlos', 'Dan', 'Emma', 'Frank', 'George', 'Hans',
       'IceT', 'Judas'],
      dtype='object')

## Task 5b: Get Values

+ Check the version of `pandas` you have 
+ Use the appropriate method to convert the iris data to a dictionary.
+ Do the same with the dataset you created in Task 2c.

In [48]:
pd.__version__ #checking version of pandas

# converting iris data to dictionary
iris_dict = iris_data.to_dict()

# converting my_df2 to dictionary
my_df2_dict = my_df2.to_dict()

## Task 5c: Using `loc`

+ Use any iris dataframe to:
  + Select a row slice with `loc`.
  + Select a row and column slice with `loc`.
  + Take a look at the [Pandas documentation for the `at` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.at.html). Use what you learn there to select a single item with Pandas `at` accessor.

In [59]:
# selecting a row slice in the iris data 
print(iris_data.loc[2])

# selecting a row and column slice in the iris data
print(iris_data.loc[[10], ['petal_length']])

# using the pandas at selector
print(iris_data.at[10, 'petal_length'])

sepal_length       4.7
sepal_width        3.2
petal_length       1.3
petal_width        0.2
species         setosa
Name: 2, dtype: object
    petal_length
10           1.5
1.5

## Task 5d: Using `iloc`

+ Use any iris dataframe to:    
    + Select a row slice with `iloc`.
    + Select a row and column slice with `iloc`.
    + Take a look at the [Pandas documentation for the `iat` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iat.html). Use what you learn there to select a single item with Pandas `iat` accessor.

In [65]:
# selecting a row slice in the iris data 
print(iris_data.iloc[2])

# selecting a row and column slice in the iris data
print(iris_data.iloc[10, 2])

# using the pandas iat selector
print(iris_data.iat[10, 2])

sepal_length       4.7
sepal_width        3.2
petal_length       1.3
petal_width        0.2
species         setosa
Name: 2, dtype: object
1.5
1.5

## Task 5e: Boolean Indexing

+ Create subsets of the iris dataset using boolean indexes that:
    + Use one boolean operator.
    + Use two boolean operators.

In [112]:
# using one boolean operator
iris_data.loc[0:9, 'petal_length'] > 5

# using two boolean operators
(iris_data['sepal_length']> 5) & (iris_data['sepal_length'] < 7)

0       True
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: sepal_length, Length: 150, dtype: bool